.header {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.header-text {
    font-size: 48px;
    font-family: 'Sedgwick Ave', cursive;
}

#report-header {
    text-align: center;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.mat-form-field {
    margin-right: 10px;
}

.image-container {
    display: flex;
    justify-content: center;
}

.image-container img {
    max-width: 50%;
    height: auto;
  }