<div class="header">
  <h1 class="header-text">50 cent</h1>
</div>

<!-- two buttons to toggle between two components -->
<div id="toggler" class="input-container">
  <button mat-raised-button color="primary" (click)="toggleForm(CONTAINERS)">Containers</button>
  <button mat-raised-button color="primary" (click)="toggleForm(DEPENDENCIES)">Dependencies</button>
  <button mat-raised-button color="primary" (click)="toggleForm(MALICIOUS)">Malicious</button>
</div>

<div id="forms" class="input-container">
  <div class="input-fields" style="margin: auto;">
    <ng-template [ngIf]="formType == CONTAINERS">
      <app-containers-form [events]="eventsSubject.asObservable()"></app-containers-form>
    </ng-template>
    <ng-template [ngIf]="formType == DEPENDENCIES">
      <app-dependencies-form [events]="eventsSubject.asObservable()"></app-dependencies-form>
    </ng-template>
    <ng-template [ngIf]="formType == MALICIOUS">
      <app-malicious-form [events]="eventsSubject.asObservable()"></app-malicious-form>
    </ng-template>
  </div>
  <button mat-raised-button color="primary" (click)="submitForm()" class="submit-button">Submit</button>
</div>

<div class="image-container">
  <img src="assets/logo.jpeg" alt="Logo">
</div>