.header {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.header-text {
    font-size: 48px;
    font-family: 'Sedgwick Ave', cursive;
}

.input-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    align-items: flex-start;
    margin-bottom: 20px;
}

#toggler {
    
}

#forms {
    flex-direction: column;
    align-content: center;
}

.input-fields {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5px;
    gap: 10px;
}

.mat-form-field {
    /* margin-right: 10px; */
    /* flex-basis: 50%; Set the width to 50% */
    margin-bottom: 10px;
    width: 300px;
    /* Adjust the width as needed */
}

.submit-button {
    /* width: 100%; Make the button occupy full width */
    width: 300px;
    /* Adjust the width as needed */

    margin-top: 10px;
    /* Add a margin between the inputs and the button */
}

.image-container {
    display: flex;
    justify-content: center;
}

.image-container img {
    max-width: 50%;
    height: auto;
}