<div class="header">
  <h1 class="header-text">50 cent</h1>
</div>

<div class="input-container">
  <mat-form-field appearance="fill">
    <input matInput placeholder="Image Name" [(ngModel)]="imageName">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <input matInput placeholder="Image Tag" [(ngModel)]="imageTag">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="submitForm()">Submit</button>
</div>

<div class="image-container">
  <img src="assets/logo.jpeg" alt="Logo">
</div>

<div *ngIf="imageInfo">
  <h2 id="report-header">CVE Report:</h2>
  <app-results-table-component [results]="imageInfoResults"></app-results-table-component>
</div>
